.btn-woddi {
    background-color: #FF00FF !important;
    border-color: #FF00FF !important;
}

.btn-primary {
    background-color: #FF00FF !important;
    border-color: #FF00FF !important;
}

.skin-blue .main-header li.user-header {
    background-color: #FF00FF !important;
}

button{
    color: white !important;
}

.skin-blue .main-header .navbar {
    background-color: #FF00FF !important;
}

.skin-blue .main-header .logo {
    background-color: #FF00FF !important;
    color: #fff;
    border-bottom: 0 solid transparent;
}